@model StuxGeek.Models.Post

@{
    ViewBag.Title = "Read";
}

<h2>@Model.Title</h2>
<hr />
<p>@Model.Author</p>
<p>@Model.PostDate</p>
<hr />


<p><b>Description - </b>@Model.Description</p>

<p><b>Content - </b>@Model.Content</p>

<p><b>Category - </b>@Model.Category</p>

<p><b>Tag - </b>@Model.Tag</p>